@-webkit-keyframes slideUp {
  0% {transform: translateY(100%)}
  100% {transform: translateY(0)}
}

html body {
  margin: 0;
  border: 0;
}

#header1 {
  color: white;
}

.background-image {
  background-image: url('http://wallpaperget.com/images/notebook-wallpaper-38.jpg');
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notepad-container {
  width: 100%;
  min-width: 500px;
  height: 1000px;
  /* margin-left: 125px; */
  -webkit-animation: slideUp 1s;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notepad {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.todo-input {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 50%;
}

.header-title {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
